.team-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 25% ;
}
.team-container h2{
    font-weight: 500;
    font-size: 40px;
}
.team-container p{
    text-transform: lowercase;
    padding: 0 3rem;
}