.container {
  width: 100%;
  position: absolute;
}
.dropBack {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  background-color: #272727;
  top: 0;
  left: 0;
  opacity: 0.5;
  color: #ffffff;
}
.classes {
  position: fixed;
  top: 7%;
  left: 17%;
  right: 17%;
  z-index: 4;
  width: 70%;
  background-color: #ffffff;
  color: #272727;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.left {
  flex: 0 0 50%;
}
.info {
  display: flex;
  gap: 0.5rem;
}
.info h5 {
  color: #222c65;
}
.right {
  flex: 0 0 50%;
}
.librarian {
  border: 1px solid #222c65;
  max-height: 50vh;
  overflow-y: scroll;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 7px;
}
.library {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem;
  width: fit-content;
  background-color: #6273d1;
  border-radius: 7px;
  gap: 0.5rem;
}
.library > div {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.library h6{
    cursor: pointer;
}