.hight-container{
    background-color: white;
    height: 30vh;
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 0 calc(5% + 1rem);
}
.hight-light{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hight-light i{
    font-size: 50px;
    font-weight: bold;
}
.hight-light span:nth-of-type(1){
    font-size: 13px;
    color: gray;
}
.hight-light span:nth-of-type(2){
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}
.hight-light hr{
    width: 50px;
    margin: auto;
    border: none;
    height: 0.1vh;
    background-color: black;
}