.container {
  padding: 0 2% 0 12.7rem;
}
.dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 16vh 50vh;
  gap: 1rem;
}
.status{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card{
  box-shadow: -2px 2px 9px #dfdfdf32;
  padding: .5rem;
  width: 15rem;
  border-radius: 10px;
}
.card>h3{
  font-size: 16px;
  font-weight: 100;
  padding: .3rem 0;
}
.statusInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.increment{
  padding-right: 1rem;
  color: #b5b5b5;
}
.pending{
  color: #DBB52D;
}
.completed{
  color: #30CA2D;
}
.canceled{
  color: #DB612D;
}
.chart{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 0 0 1.5rem;
}
.chart>h5{
  color: #b5b5b5;
  font-weight: 100;
  padding: 0 0 .5rem;
}
.expenses {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title{
  background-color: #b5b5b5;
  text-align: center;
  padding: .5rem;
  border-radius: 10px;
}
.cards{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.titles{
  display: flex;
  justify-content: space-around;
}
.titles>h3{
  font-weight: 100;
}
.titles>h3:nth-of-type(2), .titles>h3:last-child{
color: #b5b5b5;
}
.transaction{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: -1px 1px 11px #dededee3;
  padding: 1rem;
  border-radius: 10px;
}
.growth{
  display: flex;
  justify-content: space-between;
}
.transaction>h4{
  font-weight: 100;
}
.growth>p{
  color: #b5b5b5;
}
.transactions{
  padding: 1rem;
  border-radius: 10px;
}
.transactions>h5{
  font-weight: 100;
  color: #b5b5b5;
}