@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Roboto+Slab:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
html,
body {
  scroll-behavior: smooth;
  /* font-family: 'Inter', sans-serif; */
  font-family: "Roboto Slab", serif;
}
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  width: 30%;
  height: 100vh;
  margin: auto;
}

.not-found img {
  width: 100%;
  /* max-width: 50%; */
}
