.container {
  padding: 0 2% 0 14rem;
  display: flex;
  flex-direction: column;
}
.cards {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.card {
  flex: 1 1 23rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #AECAF2;
  padding: 1rem;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: -5px 5px 5px #a4a7b939;
}
.head {
  text-align: right;
}
.head i {
  cursor: pointer;
  font-weight: 800;
  font-size: 18px;
}
.info {
  display: flex;
  gap: 0.5rem;
}
.info h5 {
  color: #222c65;
}
.menu {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #ffffff;
  padding: 0.3rem 0;
  border-radius: 5px;
  overflow: hidden;
}
.menu a {
  color: #272727;
  padding: 0.3rem;
}
.menu a:hover {
  background-color: #a4a7b9;
  color: #ffffff;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: right;
}
.btn button{
    width: 50%;
    font: inherit;
    padding: .5rem 1rem;
    border-radius: 10px;
    border: 1px solid #ffffff;
    outline: none;
    cursor: pointer;
    background-color: #2f6296;
    color: #ffffff;
}
.btn button:hover{
    border: 1px solid #2f6296;
    background-color: #ffffff;
    color: #2f6296;
}

.popUp{
    width: 100%;
    position: absolute;
}
.dropBack{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #272727;
    opacity: .5;
    width: 100%;
    height: 100vh;
    z-index: 3;
}
.class{
    position: fixed;
    top: 40%;
    left: 40%;
    background-color: #272727;
    width: 30rem;
    z-index: 4;
    color: #ffffff;
    padding: 1rem;
}
.class p{
    padding: 1rem 0;
    text-align: center;
}
.btnLong{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
}
.btnLong button{
    font: inherit;
    padding: .5rem 1rem;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    
}
.btnLong button:first-child{
    background-color: #ffe1e1;
    border: 1px solid #e46b6b;
    color: #e46b6b;
}
.btnLong button:first-child:hover{
    background-color: #e46b6b;
    border: 1px solid #ffe1e1;
    color: #ffe1e1;
}
.btnLong button:last-child:hover{
    background-color: #2f6296;
    border: 1px solid #ffffff;
    color: #ffffff;
}
.btnLong button:last-child{
    background-color: #ffffff;
    border: 1px solid #2f6296;
    color: #2f6296;
}